.main-container{
  width: 70%;
  margin-top: 5%;
  margin-left: 15%;
}

.encabezado mat-card{
  background-color: rgba(235, 238, 144, 0.534);
}

.mat-elevation-z8{
  width: 80%;
}

table{
  width: 100%;
}

.botonActivar{
  background-color: lightcoral;
  width: 120px;
}

.botonSuspender{
  background-color: mediumseagreen;
  width: 120px;
}
