<div class="main-container">

  <h3>Zapatos deportivos</h3>

  <div class="productos">

    <div class="producto" *ngFor="let producto of arrProductos">
      <div class="imagen">
        <img src={{producto.imgUrl}} alt={{producto.nombre}}>
      </div>
      <p>{{producto.nombre}}</p>
      <p>{{producto.descripcion}}</p>
      <p class="precio">{{producto.precio | currency}}</p>
      <div class="botonAgregar">
        <button mat-flat-button color="accent" (click)="onClickAgregar(producto)">
          <span>Agregar al carrito</span>
        </button>
      </div>


    </div>

  </div>

  <p>{{total}}</p>
  <p>{{comprados}}</p>



</div>




