.main-container{
  width: 70%;
  height: 100%;
  margin-top: 5%;
  margin-left: 15%;
}

h3{
  text-transform: uppercase;
  background-color: lightgray;
  padding: 10px;
}

.productos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.producto{
  display: flex;
  flex-direction: column;
  padding: 1%;
  width: 19%;
  margin: 5px;
  border: 1px solid gray;
  border-radius: 10px;
  min-width: 200px;
}

.producto img{
  width: 100%;
  min-height: 200px;
  max-height: 220px;
  margin-bottom: 10%;
}

.producto p{
  margin: 5px auto;
  text-align: center;
}

.producto button{
  width: 80%;
  position: absolute;
  bottom:   0;
  justify-content: center;
  align-items: center;
}

.botonAgregar {
  display: flex;
  height: -webkit-fill-available;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  // margin-bottom: 0px;
  position: relative;
  bottom: 10px;

}
.botonAgregar p{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nombre{
font-weight: 400;
font-size: medium;
}

.descripcion{
  font-size: small;
  font-weight: 100;
}

.precio{
  color: red ;
  font-size: larger;
  font-weight: 700;
}
