<div class="main-container">

  <h3>Zapatos para la familia</h3>

  <div class="productos">

    <div class="producto" *ngFor="let producto of arrProductos">
      <div class="imagen">
        <img src={{producto.imgUrl}} alt={{producto.nombre}}>
      </div>
      <p class="nombre">{{producto.nombre}}</p>
      <p class="descripcion">{{producto.descripcion}}</p>
      <p class="precio">{{producto.precio | currency}}</p>
      <div class="botonAgregar">

        <p *ngIf="producto.stock <= 0" > Agotado :(</p>

        <button mat-flat-button color="accent" (click)="onClickAgregar(producto)" *ngIf="producto.stock > 0">
          <span>Agregar al carrito</span>
        </button>
      </div>


    </div>
    <div class="cargandoDatos" *ngIf="procesando">
      <mat-spinner></mat-spinner>
    </div>
  </div>


</div>




